<header class="fixed  p-5 lg:px-[90px] left-0 top-0 bg-secondary/50 w-[100%] flex items-center justify-between items-center">
    <div [ngClass]="menuShown ? 'menu_shown' : ''" class="flex gap-x-5 items-center ">
        <!-- mobile nav button -->
        <a class="menu__icon mobile mr-3 lg:hidden" (click)="showNav()"><span></span></a>
        <!-- mobile nav button -->
        <div class="z-50">
            <img [src]="logo" alt="site logo" />
        </div>
    </div>
    <!-- for mobile -->
    <div [ngClass]="menuShown?'flex':'hidden'" class="mobile_menu lg:hidden">
        <nav class="flex flex-col text-xl font-semibold text-center gap-y-[80px]">
            <a *ngFor="let nav of siteNav" href="" (click)="goTo(nav.routeTo)">
          {{ nav.title }}
        </a>
        </nav>
    </div>
    <div class=" flex gap-x-[100px] text-[16px] justify-between items-center">
        <nav class="hidden lg:flex gap-x-10">
            <a *ngFor="let nav of siteNav" href="" (click)="goTo(nav.routeTo)">
        {{ nav.title }}
      </a>
        </nav>
        <button class=" z-50 bg-tertiary text-secondary p-2.5 px-4 text-[14px]">
      Contact Us
    </button>
    </div>
</header>