<div class="flex flex-col justify-center text-center items-center my-[130px] gap-y-5">
    <div class="flex flex-col justify-center items-center">
        <h3 class="font-bold text-[56px] mb-4 leading-[60px]">Minimalist Room</h3>
        <p class="lg:w-[40%] md:w-[70%] text-[18px]">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </p>
    </div>
    <div class="w-[100vw] md:w-[100%] h-[300px] lg:h-[450px]">
        <img class="object-cover w-[100%] h-[100%]" [src]="landingImage" alt="minimalist room">
    </div>
</div>