<div class="my-[100px]">

    <div class="flex flex-wrap justify-between gap-10">
        <div class="lg:w-[45%] flex flex-col gap-y-5">
            <h3 class="text-[24px]">Project Overview</h3>
            <div class="text-[18px] font-normal text-grey flex flex-col justify-between gap-y-8">
                <p>
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with
                    us does not interfere with your daily life. because learning can be done anytime and anywhere.
                </p>
                <p class="flex gap-x-8">
                    <span>July 22 - 2022</span>
                    <span>Interior Design - Furnitur</span>
                </p>
            </div>
        </div>
        <div class="lg:w-[45%] flex flex-col gap-y-5">
            <h3 class="text-[24px]">Design Process</h3>
            <div class="text-[18px] font-normal text-grey flex flex-col justify-between min-h-[250px]">
                <p>
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                </p>
                <p>
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
                </p>
            </div>
        </div>
    </div>
    <div class="flex justify-between flex-wrap gap-y-4 my-[80px]">
        <div class="sample w-[100%] lg:w-[49%]" *ngFor="let image of images">
            <img class="object-cover w-[100%] h-[100%]" [src]="image" alt="hue">
        </div>
    </div>

</div>