/* You can add global styles to this file, and also import other style files */

:root {
    /* black */
    --color-brand-1: 0 0 0;
    /* white */
    --color-brand-2: 255 255 255;
    /* dark blue */
    --color-brand-3: 44 56 120;
    /* grey */
    --color-brand-4: 156 156 156;
    /* light-grey */
    --color-brand-5: 217 217 217;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    font-family: 'Poppins', sans-serif;
}

.menu__icon {
    height: 25px;
    width: 35px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
}

.menu__icon span {
    display: block;
    background: black;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu__icon:before,
.menu__icon:after {
    content: "";
    display: block;
    background: black;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menu__icon:before {
    top: 2px;
    margin-top: -2px;
}

.menu__icon:after {
    bottom: 2px;
    margin-bottom: -2px;
}

.menu_shown .menu__icon span {
    background: transparent;
}

.menu_shown .menu__icon:before {
    top: 50%;
    transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.mobile_menu {
    position: fixed;
    /* transform: translateY(-999); */
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.749);
}